.row {
	display: flex;
	justify-content: center;
}

.tableRow {
	display: flex;
	width: 80%;
	margin: 10px 0;
	padding: 20px;
	align-items: center;
	backdrop-filter: blur(10px);
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);
	transition:
		transform 0.3s ease,
		box-shadow 0.3s ease;
	cursor: pointer;
}

.tableRow:hover {
	transform: translateY(-3px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.loginColumn {
	width: 20%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.titleColumn {
	width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.pubAtColumn {
	width: 30%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.roleColumn select {
	padding: 2px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.1);
	color: #000;
	font-size: 14px;
	cursor: pointer;
	transition: border-color 0.3s ease;
	width: 100%;
	outline: none;
}

.roleColumn select:hover {
	border-color: rgba(255, 255, 255, 0.5);
}

.roleColumn select:focus {
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.buttons {
	display: flex;
	flex-direction: row;
}

.buttonTrash {
	margin: auto 0;
	cursor: pointer;
}

.buttonTrash:hover {
	color: #007bff;
}
